header {
      text-align: center;
      background: url(https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash4/393622_4718391798924_1354695656_n.jpg);
      background-size: cover;
      color: white;
    }
 
    h1 {
      font-size: 70px;
      color: white;
    }

 